/* General Styles */

body {
    font-family: 'Verdana', sans-serif;
    /* Изменён шрифт */
    margin: 0;
    padding: 0;
    background-color: #eaeaea;
    /* Светло-серый фон для большей контрастности */
    text-align: center;
}

header {
    background-color: #4a90e2;
    /* Темно-голубой цвет для заголовка */
    color: white;
    padding: 3rem 0;
    /* Увеличен отступ для заголовка */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    /* Добавлена тень для заголовка */
}

.avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid #4a90e2;
    /* Соответствие цвета с заголовком */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.avatar:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.bio {
    font-size: 1.3rem;
    /* Увеличен размер шрифта */
    color: #333;
    /* Более темный цвет для текста */
    margin: 1rem 0;
}

section {
    margin: 2rem 0;
    padding: 2rem 0;
    background-color: #ffffff;
    /* Белый фон для секций */
    border-radius: 8px;
    /* Углы для секций */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    /* Добавлена тень для секций */
}

#skills ul {
    list-style: none;
    padding: 0;
    color: #ff6f61;
    /* Красный цвет для списка навыков */
}

#skills li {
    font-size: 1.2rem;
    margin: 0.5rem 0;
    animation: fadeIn 1s ease-in;
    color: #5c6bc0;
    /* Синий цвет для текста навыков */
}

#projects .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    /* Более адаптивная сетка */
    gap: 20px;
    padding: 0 20px;
}

.project-card {
    background-color: #f9f9f9;
    /* Светло-серый фон для карточек */
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    transition: transform 0.3s, box-shadow 0.3s;
    /* Добавление тени при наведении */
}

.project-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    /* Тень при наведении */
}

.social-links a {
    margin: 0 15px;
    text-decoration: none;
    color: #4a90e2;
    /* Соответствие цвета с заголовком */
    font-weight: bold;
    transition: color 0.3s;
    /* Плавный переход цвета при наведении */
}

.social-links a:hover {
    color: #ff6f61;
    /* Красный цвет при наведении */
}


/* Animations */

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}